
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  <p>
	<DIV class="idlikablue">
	<%= f.check_box( :terms_accepted_cb) %>I have read and accepted idlika's <%= link_to 'Terms and Conditions.', terms_path, :target=> 'blank' %>
	</DIV>
  </p>
  <p>
    <%= f.label :roles %><br />
    <% for role in Role.all %>
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
      <%=h role.name %> -- <%=h role.description %><br />
    <% end %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>