<div id="li_body">
<%= render :partial => 'shared/sidebar' %>

<div id="li_content">

<h1 class="my_account"></h1>

  <% form_for @user do |f| %>
    <%= f.error_messages %>

  <div id="addgift_form">

    <div class="clearer"></div>
    <div class="aglabel">Name:</div>
    <div class="agfield"> <%= f.text_field :username, :size=>'60' %></div>
    
    <div class="clearer"></div>
    <div class="aglabel">EMail:</div>
    <div class="agfield"> <%= f.text_field :email, :size=>'60' %></div>

    <div class="clearer"></div>
    <div class="aglabel">Password:</div>
    <div class="agfield"> <%= f.password_field :password, :size=>'60' %></div>
 
    <div class="clearer"></div>
    <div class="aglabel">Confirm Password:</div>
    <div class="agfield"> <%= f.password_field :password_confirmation, :size=>'60' %></div>
    <div class="clearer"></div>

  <p><%= f.submit "Submit" %></p>
<% end %>

<!-- link_to 'Back', gifts_path -->

</div><!-- li_content -->

<div class="clearer"></div>
</div><!-- li_body -->