<div id="footer">
<p>&copy;2010 idlika partners LLC (<%= ENV['IDLIKA_VERSION']%>)&nbsp; | &nbsp;
	<%= link_to_unless_current 'Home', root_url %>&nbsp; | &nbsp;
	<%= link_to_unless_current 'Terms of Use', terms_path %>&nbsp; | &nbsp;
	<%= link_to_unless_current 'Privacy Policy', privacy_path %>&nbsp; | &nbsp;
    <%= link_to_unless_current 'What is idlika?', what_path %> &nbsp; | &nbsp;
    <%= link_to_unless_current 'How It Works', how_path %> &nbsp; | &nbsp;
    <!-- link_to_unless_current 'Tell A Friend', tell_path > &nbsp; | &nbsp; -->
    <!-- link_to_unless_current 'Advertise / Sponsor', advertise_path > &nbsp; | &nbsp; -->
    <%= link_to_unless_current 'FAQ', faq_path %> &nbsp; | &nbsp;
    <%= mail_to 'info@idlika.com', 'Contact Us' %>

</div><!-- footer -->
