	
<div id="masthead">
	<% if show_links? %>
	   <h1><%= link_to(image_tag("/images/idlikalogo.gif", 
	                     {:alt => 'Go to my gift registries in idlika'}), root_url ) %></h1>
	  <h2><b>Remember things you want ... Show your friends!</b></h2>
	<% else %>
	  <h1><b>idlika</b></h1></a>
	  <h2><b>Remember things you want ... Show your friends!</b></h2></a>
	<% end %>

<%= render( :partial => '/shared/welcome_header')%>

<div class="clearer"></div>

<div id="nav">
  <% if show_links? %>
  <ul>
	<li><%= link_to_unless_current '', root_url, {:class => 'home'} %></li>
  	<li><%= link_to_unless_current '', login_path, :class=>'gifts'%></li>
    <li><%= link_to_unless_current '', new_user_path, :class=>"myaccnt"  %>
	<li><table cellspacing=0>
      <form>
        <tr valign="top">
        	<td><img src="../images/search.gif" alt="Search:" style="margin:16px 8px 0px 0px;" /></td>
        	<td><input type="text" class="navsearch" name="searchterm" /></td>
            <td valign="bottom">
                <%= select("post", "person_id", User.all.collect {|u| [ u.username, u.id ] }, {:include_blank => 'My own	'} )%></td>
            <td><%= link_to(image_tag("/images/btn_go.gif", 
			                     {:alt => 'Go to my gift registries in idlika', :style=>"margin-top:10px;"}), gifts_path(@gift) ) %></li>
        </form>
        </table>
    </li>
</ul>
<% end %>
</div><!-- nav -->
</div><!-- masthead -->