	<div id="li_sidebar">
	  <ul>
        <li><%= link_to_unless_current (image_tag "sidenav_myregistries.gif"), user_registries_path(@user) %></li>
		    <%= render :partial => "shared/registries" %>

        <% if @user.id == current_user[:id] %>
	      <li><%= link_to_unless_current '', new_user_registry_path(@user), :class => "newreg" %>
	      <li><% if @new_registry %>
		        <%= render :partial => 'shared/new_gift_registry' %>
		      <% end %>
		  </li>
	      <li><%= link_to_unless_current '', new_gift_path, :class => "addgift" %></li>
	      <li><%= link_to_unless_current '', invite_path, :class => "invitefriend" %></li>
	    <% end %>
	  </ul>
	</div><!-- li_sidebar -->
