<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>idlika - the shopping and wish list resource - remember things you want, share them with your friends</title>

<%= stylesheet_link_tag 'idlika' %>
<%= javascript_include_tag :defaults %>
</head>

	
<div id="masthead">
	<% if show_links? %>
	   <h1><%= link_to(image_tag("/images/idlikalogo.gif", 
	                     {:alt => 'Go to my gift registries in idlika'}), root_url ) %></h1>
	  <h2><b>Remember things you want ... Show your friends!</b></h2>
	<% else %>
	  <h1><b>idlika</b></h1></a>
	  <h2><b>Remember things you want ... Show your friends!</b></h2></a>
	<% end %>

<%= render( :partial => '/shared/welcome_header')%>

<div class="clearer"></div>

<div id="nav">
  <% if show_links? %>
  <ul>
	<li><%= link_to_unless_current '', root_url, {:class => 'home'} %></li>
  	<li><%= link_to_unless_current '', login_path, :class=>'gifts'%></li>
    <li><%= link_to_unless_current '', new_user_path, :class=>"myaccnt"  %>
	<li><table cellspacing=0>
      <form>
        <tr valign="top">
        	<td><img src="../images/search.gif" alt="Search:" style="margin:16px 8px 0px 0px;" /></td>
        	<td><input type="text" class="navsearch" name="searchterm" /></td>
		    <td><%= select :gift, 'community',
		                %w{Peta Fred Dawn Chrissy},
		               :prompt => "Community Members" %></td>

            <td><%= link_to(image_tag("/images/btn_go.gif", 
			                     {:alt => 'Go to my gift registries in idlika', :style=>"margin-top:10px;"}), gifts_path(@gift) ) %></li>
        </form>
        </table>
    </li>
</ul>
<% end %>
</div><!-- nav -->
</div><!-- masthead -->