<% title 'Friend index'%>
<br/>
<div id="li_body">

  <%= render :partial => 'shared/friend_sidebar' %>
  
  <div id="li_content">
    <h1><%= @registry.name %> Items Selected by <%= @friend.username %>.</h1>

    <% if !@gifts.nil? and allowed_to_view? current_user[:username] %>

    <h3>To Change Friends or Registry Click on Image</h3>
      <%= render :partial => 'registry_container', :collection => @gifts %>

      <% unless @registry.nil? %>
        <%= link_to 'Edit Registry', edit_registry_path(@registry) %>
      <% end %>

    <% else %>

	  <h3>There's nothing in here!  Now use 'Add Gift' or 'New Registry' to get started.</h3>
	  <h3>Since it's empty, do you want to delete this registry?  ('"#{ENV['DEFAULT_REGISTRY_NAME']}"' can't be deleted.)</h3>

      </h3>

    <% end %>

  </div><!-- li_content -->
<div class="clearer"></div>
</div><!-- li_body -->



