<% title 'New Gift' %>
<div id="li_body">
<%= render :partial => 'shared/sidebar' %>

<div id="li_content">
  <h1 class="add_a_gift"><b>Add A Gift</b></h1>
  <% form_for :gift, @gift, :url => user_gifts_path(@user), :html => { :multipart => true } do |f| %>
    <%= f.error_messages %>
    <div id="addgift_form">
	
    <div class="aglabel">Gift Image:</div>
    <%= f.file_field :photo %>

    <div class="clearer"></div>
    <div class="aglabel">Gift Name:</div>
    <div class="agfield"><%= text_field :gift, :name, :class=>"agtext" %></div>
    <div class="clearer"></div>

    <div class="aglabel">Gift Location, Store or Where You Saw It:</div>
    <div class="agfield"><%= text_field :gift, :source, :class=>"agtext" %></div>
    <div class="clearer"></div>

    <div class="aglabel">Gift URL:</div>
	<div class="agfield"><%= text_field :gift, :URL, :class=>"agtext" %></div>
    <div class="clearer"></div>

    <div class="aglabel">Gift Description:</div>
    <div class="agfield"><%= text_area :gift, :description, :class=>"agtext", :size => '34x3' %></div>
    <div class="clearer"></div>
    <div class="aglabel"></div> 
    <div class="agfield" stylesheet="margin:20px">
	  <%= image_submit_tag("/images/btn_addgift_on.gif") %></li></div>
	
    <div class="clearer"></div>
    <div class="aglabel"></div>
	<!-- link_to 'Back', gifts_path -->

  </div><!-- addgift_form -->
<% end %><!-- form -->

</div><!-- li_content -->

<div class="clearer"></div>
</div><!-- li_body -->
