
<div id="li_body">

	<div id="li_sidebar">
	<ul><li><a href="my-registries.html" class="myreg_set"><b>My Registries</b></a></li>
	  <%= render :partial => "registries" %>
	  <li><%= link_to '', new_user_registry_path(@user), :class => "newreg" %>
	  <li><% if @new_registry %>
	        <%= render :partial => 'new_gift_registry' %>
		  <% end %>
	  </li>
	  
	</ul>
	</div><!-- li_sidebar -->

<div id="li_content">
  <h1 class="add_a_gift"><b>Add A Gift</b></h1>
  <% form_for (@gift, user_gifts_path(@user)) do |f| %>
    <%= f.error_messages %>
    <div id="addgift_form">
    <div class="clearer"></div>
    <div class="aglabel">Gift Name:</div>
    <div class="agfield"><%= text_field :gift, :name, :class=>"agtext" %></div>
    <div class="clearer"></div>
    <div class="aglabel">Where you can find it:</div>
    <div class="agfield"><%= text_field :gift, :source, :class=>"agtext" %></div>
    <div class="clearer"></div>
    <div class="aglabel">Description:</div>
    <div class="agfield"><%= text_area :gift, :description, :class=>"agtext", :size => '34x3' %></div>
    <div class="clearer"></div>
    <div class="aglabel">Image:</div>
    <div class="agfield"><%= button_to 'CHOOSE FILE', :class=>"agfile" %></div>
    <div class="clearer"></div>
    <div class="clearer"></div>
    <div class="aglabel">Audience:</div>
    <div class="agfield"><%= text_field :gift, :audience, :class=>"agtext" %></div>
    <div class="clearer"></div>
    <div class="aglabel">By when:</div>
    <div class="agfield"><%= text_field :gift, :by_when, :class=>"agtext" %></div>
    <div class="clearer"></div>
    <div class="aglabel">After when:</div>
    <div class="agfield"><%= text_field :gift, :after_when, :class=>"agtext" %></div>
    <div class="clearer"></div>
    <div class="aglabel">Registry:</div>
    <div class="agfield"><%= collection_select(:gift, :user_id, @user.registries.all, :user_id, :name ) %></div>

    <div class="clearer"></div>
    <div class="aglabel"></div>
    <div class="agfield" stylesheet="margin:20px">
	  <%= image_submit_tag("/images/btn_addthisgift_on.gif") %></li></div>
	</p>
	
    <div class="clearer"></div>

  </div><!-- addgift_form -->
<% end %><!-- form -->

</div><!-- li_content -->

<div class="clearer"></div>
</div><!-- li_body -->
