<p>
  <%= image_tag @gift.photo.url(:large) %>
</p>
<p>
  <b>Name:</b>
  <%=h @gift.name %>
</p>


<p>
  <b>Description:</b>
  <%=h @gift.description %>
</p>

<p>
  <b>Tags:</b>
  <%=h @gift.tags %>
</p>

<p>
  <b>Audience:</b>
  <%=h @gift.audience %>
</p>

<p>
  <b>By when:</b>
  <%=h @gift.by_when %>
</p>

<p>
  <b>After when:</b>
  <%=h @gift.after_when %>
</p>

<p>
  <b>For my:</b>
  <%=h @gift.for_my %>
</p>



<%= link_to 'Edit', edit_user_gift_path(@user,@gift) %> |
<%= link_to 'Remove', user_gift_path(@user,@gift), 
           :confirm => "Are you sure you want to delete #{@gift.name}?", 
           :method => :delete %> |
<%= link_to 'Back', gifts_path %>