<div id="li_body">
	show
<%= render :partial => 'shared/sidebar' %>

<div id="li_content">
  <h1 class="about_this_gift"></h1>

<p>
  <%= link_to (image_tag @gift.photo.url(:large)), @gift.URL, :target=>'blank' %>
</p>
<p>
  <b>Name:</b>
  <%=h @gift.name %>
</p>
<% unless @gift.registry.nil? %>
<p>
	<b>Registry:</b>
	<%= @gift.registry.name %>
</p>
<% end %>
<p>
  <b>Description:</b>
  <%=h @gift.description %>
</p>

<% if !@user.friend_id.nil? %>
  <%= link_to 'I want one too!', edit_user_gift_path( @user, @gift) %> | 
<% end %>

  <% if @user.id == current_user[:id] %>
    <%= link_to 'Edit', edit_user_gift_path(@user,@gift) %> |
	<% unless @gift.registry.nil? %>
      <%= link_to (image_tag("btn_delete.png"), gift_path(@gift), 
           :confirm => "Are you sure you want to delete #{@gift.name} from #{@gift.registry.name}?", 
           :method => :delete )%> |
    <% end %>
  <% end %>

<% flash["idlik12"] = @gift.id %>
<%= button_to "I'd like one too", idlik12_path %>
<br />
<%= button_to "I'll fulfill this wish", root_url %>

<br />
<%= link_to 'Back', gifts_path %>

</div><!-- li_content -->

<div class="clearer"></div>
</div><!-- li_body -->
