<p>
  <%= link_to (image_tag @gift.photo.url(:large)), @gift.URL, :target=>'blank' %>
</p>
<p>
  <b>Name:</b>
  <%=h @gift.name %>
</p>
<p>
	<b>Registry:</b>
	<%= @gift.registry.name %>
</p>
<p>
  <b>Description:</b>
  <%=h @gift.description %>
</p>


<%= link_to 'Edit', edit_user_gift_path(@user,@gift) %> |
<%= link_to (image_tag("btn_delete.png"), gift_path(@gift), 
           :confirm => "Are you sure you want to delete #{@gift.name} from #{@gift.registry.name}?", 
           :method => :delete )%> |
<%= link_to 'Back', gifts_path %>