<h1>Listing registries</h1>

<table>
  <tr>
  </tr>
<% @registries.each do |registry| %>
  <tr>
	<td><%=h registry.name %></td>
    <td><%= link_to 'Details', user_registry_path(@user,registry) %> | </td>
    <td><%= link_to 'Edit', edit_user_registry_path(@user,registry) %> | </td>
    <td><%= link_to 'Delete', user_registry_path(@user,registry), 
            :confirm => "Are you sure you want to delete your #{registry.name} registry?  Any gifts still in it will be lost.", 
            :method => 'DELETE' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New registry', new_user_registry_path(@user) %>
<p></p>
<%= link_to 'Back', user_gifts_path( @user )%>