
<body>

<%= render( :partial => '/shared/header')%>
<%= render( :partial => '/shared/version')%>
<%= yield %>

<%= render( :partial => '/shared/footer')%>
<%= render( :partial => '/shared/analytics')%>
</body>
</html>

