<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Idlika - <%= yield(:title) || 
  "the shopping and wish list resource - remember things you want, share them with your friends." %>
</title>

<%= stylesheet_link_tag 'idlika' %>
<%= javascript_include_tag :defaults %>
</head>
<body>

<div id="sp_container">

  <%= render( :partial => '/shared/version')%>
  <%= render( :partial => '/shared/friend_header')%>
  <%= render( :partial => '/shared/notices')%>

	<%= yield %>
	
  <%= render( :partial => '/shared/footer')%>
  <%= render( :partial => '/shared/analytics')%>

</div><!-- sp_container -->

</body>
</html>

