<html>
<body>
<div id="sp_container">

  <%= render( :partial => '/shared/version')%>
  <%= render( :partial => '/shared/gifts_header')%>

	<%= yield %>

  <%= render( :partial => '/shared/footer')%>
  <%= render( :partial => '/shared/analytics')%>

</div><!-- sp_container -->

</body>
</html>

